<div>
    <h2 id="page-heading">
        <span>Taxes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-taxes" [routerLink]="['/taxes/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Taxes
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="taxes?.length === 0">
        <span>No taxes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="taxes && taxes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Name</span></th>
                    <th scope="col" ><span>Is Percent</span></th>
                    <th scope="col" ><span>Figure</span></th>
                    <th scope="col" ><span>Description</span></th>
                    <th scope="col" ><span>Products</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let taxes of taxes ;trackBy: trackId">
                    <td><a [routerLink]="['/taxes', taxes.id, 'view']">{{ taxes.id }}</a></td>
                    <td>{{ taxes.name }}</td>
                    <td>{{ taxes.isPercent }}</td>
                    <td>{{ taxes.figure }}</td>
                    <td>{{ taxes.description }}</td>
                    <td>
                        <div *ngIf="taxes.products">
                            <a [routerLink]="['/products', taxes.products?.id, 'view']" >{{ taxes.products?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/taxes', taxes.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/taxes', taxes.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(taxes)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
