<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-taxes-heading">Taxes</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name" formControlName="name" />
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_isPercent">Is Percent</label>
                    <input type="checkbox" class="form-control" name="isPercent" id="field_isPercent" formControlName="isPercent" />
                    <div *ngIf="editForm.get('isPercent')!.invalid && (editForm.get('isPercent')!.dirty || editForm.get('isPercent')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('isPercent')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_figure">Figure</label>
                    <input type="number" class="form-control" name="figure" id="field_figure" formControlName="figure" />
                    <div *ngIf="editForm.get('figure')!.invalid && (editForm.get('figure')!.dirty || editForm.get('figure')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('figure')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.get('figure')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description" formControlName="description" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_products">Products</label>
                    <select class="form-control" id="field_products" name="products" formControlName="products">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productsOption.id === editForm.get('products')!.value?.id ? editForm.get('products')!.value : productsOption" *ngFor="let productsOption of products; trackBy: trackById">{{ productsOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>