<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-doc-details-heading">Doc Details</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description" formControlName="description" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_qty">Qty</label>
                    <input type="number" class="form-control" name="qty" id="field_qty" formControlName="qty" />
                    <div *ngIf="editForm.get('qty')!.invalid && (editForm.get('qty')!.dirty || editForm.get('qty')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('qty')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.get('qty')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price" formControlName="price" />
                    <div *ngIf="editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('price')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.get('price')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_discount">Discount</label>
                    <input type="number" class="form-control" name="discount" id="field_discount" formControlName="discount" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_taxes">Taxes</label>
                    <input type="number" class="form-control" name="taxes" id="field_taxes" formControlName="taxes" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_isTaxPercent">Is Tax Percent</label>
                    <input type="number" class="form-control" name="isTaxPercent" id="field_isTaxPercent" formControlName="isTaxPercent" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_products">Products</label>
                    <select class="form-control" id="field_products" name="products" formControlName="products">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productsOption.id === editForm.get('products')!.value?.id ? editForm.get('products')!.value : productsOption" *ngFor="let productsOption of products; trackBy: trackById">{{ productsOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_quotes">Quotes</label>
                    <select class="form-control" id="field_quotes" name="quotes" formControlName="quotes">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="quotesOption.id === editForm.get('quotes')!.value?.id ? editForm.get('quotes')!.value : quotesOption" *ngFor="let quotesOption of quotes; trackBy: trackById">{{ quotesOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_invoices">Invoices</label>
                    <select class="form-control" id="field_invoices" name="invoices" formControlName="invoices">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="invoicesOption.id === editForm.get('invoices')!.value?.id ? editForm.get('invoices')!.value : invoicesOption" *ngFor="let invoicesOption of invoices; trackBy: trackById">{{ invoicesOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>