<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h1 class="display-4">Welcome, Awesome Indian Market!</h1>

        <p class="display-3 text-center">Share, Search & Succeed.</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
            </div>

            <!-- <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div> -->

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register">Register a new account</a>
            </div>
            <p class="lead">We believe in complete transparency and collaboration of Indians, to succeed as individuals and a nation.</p>
            <p class="lead">Thats why we bring you a marketplace which markets you to the world and helps collaborate with Indian businesses.</p>
            <ol>
                <li>Register to Make a Shop in Awesome Indian Market</li>
                <li>Share your Business</li>
                <li>Search your Requirements</li>
                <li>Invite Investor for your Business Plan</li>
            </ol>

            <div class="alert alert-info">
                Ecommerce Selling & Point of Sale complete feature's are coming up soon.
            </div>
        </div>
    </div>
</div>