<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="businessOffer">
            <h2><span>Business Offer</span> {{ businessOffer.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Time</span></dt>
                <dd>
                    <span>{{ businessOffer.time }}</span>
                </dd>
                <dt><span>Message</span></dt>
                <dd>
                    <span>{{ businessOffer.message }}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ businessOffer.name }}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{ businessOffer.email }}</span>
                </dd>
                <dt><span>Business Opportunity</span></dt>
                <dd>
                    <div *ngIf="businessOffer.businessOpportunity">
                        <a [routerLink]="['/business-opportunity', businessOffer.businessOpportunity?.id, 'view']">{{ businessOffer.businessOpportunity?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/business-offer', businessOffer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
