<div>
    <h2 id="page-heading">
        <span>Business Opportunities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-business-opportunity" [routerLink]="['/business-opportunity/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Business Opportunity
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="businessOpportunities?.length === 0">
        <span>No businessOpportunities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="businessOpportunities && businessOpportunities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col"><span>ID</span></th>
                    <th scope="col"><span>Title</span></th>
                    <th scope="col"><span>Investment Amount</span></th>
                    <th scope="col"><span>Start Date</span></th>
                    <th scope="col"><span>End Date</span></th>
                    <th scope="col"><span>Plan Description</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let businessOpportunity of businessOpportunities ;trackBy: trackId">
                    <td><a [routerLink]="['/business-opportunity', businessOpportunity.id, 'view']">{{ businessOpportunity.id }}</a></td>
                    <td>{{ businessOpportunity.title }}</td>
                    <td>{{ businessOpportunity.investmentAmount }}</td>
                    <td>{{ businessOpportunity.startDate | date:'mediumDate' }}</td>
                    <td>{{ businessOpportunity.endDate | date:'mediumDate' }}</td>
                    <td>{{ businessOpportunity.planDescription }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/business-opportunity', businessOpportunity.id, 'view']" class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit" [routerLink]="['/business-offer', 'new']" class="btn btn-warning btn-sm">
                                <fa-icon icon="plus"></fa-icon>
                                <span class="d-none d-md-inline">Make Offer</span>
                            </button>

                            <button type="submit" [routerLink]="['/business-opportunity', businessOpportunity.id, 'edit']" class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(businessOpportunity)" class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>