<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="businessOpportunity">
            <h2><span>Business Opportunity</span> {{ businessOpportunity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Investment Amount</span></dt>
                <dd>
                    <span>{{ businessOpportunity.investmentAmount }}</span>
                </dd>
                <dt><span>Start Date</span></dt>
                <dd>
                    <span>{{ businessOpportunity.startDate }}</span>
                </dd>
                <dt><span>End Date</span></dt>
                <dd>
                    <span>{{ businessOpportunity.endDate }}</span>
                </dd>
                <dt><span>Plan Description</span></dt>
                <dd>
                    <span>{{ businessOpportunity.planDescription }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/business-opportunity', businessOpportunity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
